{% extends "base.html" %}

{% block lab %}Деревья{% endblock %}

{% block main %}
    <h1>Управление деревьями</h1>
    <div>
        Посажено деревьев: {{ tree_count }}
    </div>
    <form method="post">
        <button name="operation" value="plant" {% if tree_count >= 10 %}disabled{% endif %}>Посадить дерево</button>
        <button name="operation" value="cut" {% if tree_count <= 0 %}disabled{% endif %}>Срубить дерево</button>
    </form>
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}
{% endblock %}