{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <form method="POST">
        <div>
            <label class="label" for="color">Выберите цвет текста:</label>
            <input type="color" id="color" name="color" value="{{ color or '' }}">
        </div>
        <div>
            <label class="label" for="background_color">Выберите цвет фона:</label>
            <input type="color" id="background_color" name="background_color" value="{{ background_color or '' }}">
        </div>
        <div>
            <label class="label" for="font_size">Выберите размер шрифта:</label>
            <input type="number" id="font_size" name="font_size" value="{{ font_size or '16' }}">
        </div>
        <div>
            <label class="label" for="font_weight">Выберите толщину шрифта:</label>
            <select id="font_weight" name="font_weight">
                <option value="normal" {% if font_weight == 'normal' %}selected{% endif %}>Обычный</option>
                <option value="bold" {% if font_weight == 'bold' %}selected{% endif %}>Жирный</option>
            </select>
        </div>
        <div>
            <button type="submit">OK</button>
        </div>
    </form>
    <div>
        <a href="{{ url_for('lab3.clear_cookies') }}">Очистить куки</a>
    </div>
{% endblock %}