{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Железнодорожный билет</h1>
    <div>
        <p><strong>ФИО пассажира:</strong> {{ fio }}</p>
        <p><strong>Полка:</strong> {{ shelf }}</p>
        <p><strong>С бельём:</strong> {{ bedding }}</p>
        <p><strong>С багажом:</strong> {{ baggage }}</p>
        <p><strong>Возраст:</strong> {{ age }}</p>
        <p><strong>Пункт выезда:</strong> {{ departure }}</p>
        <p><strong>Пункт назначения:</strong> {{ destination }}</p>
        <p><strong>Дата поездки:</strong> {{ date }}</p>
        <p><strong>Нужна ли страховка:</strong> {{ insurance }}</p>
        <p><strong>Стоимость билета:</strong> {{ price }} руб.</p>
        <p><strong>Тип билета:</strong> {% if age < 18 %}Детский билет{% else %}Взрослый билет{% endif %}</p>
    </div>
{% endblock %}