{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<h1 class="base">База знаний</h1>
<div>
    <div class="lab_menu">
        <div class="menu1">
            <div class="m">
                <a href="/lab5/list">Список статей</a>
            </div>

            <div class="m">
                <a href="/lab5/create">Создать статью</a>
            </div>

            <div class="m">
                <a href="/lab5/login">Войти</a>
            </div>

            <div class="m">
                <a href="/lab5/register">Регистрация</a>
            </div>

            <div class="m">
                <a href="/lab5/logout">Выйти</a>
            </div>
        </div>
        <div class="menu_name">
            {{ login if login else 'Anonymous' }}
        </div>
    </div>
</div>
{% endblock %}