body {
    font-family: 'Arial', sans-serif;
    background-color: lightskyblue;
    color: brown;
    margin: 0;
}

header {
    background-color: steelblue;
    color: black;
    padding: 20px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 20px;
}

main {
    padding: 100px;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 2;
}

footer {
    background-color: steelblue;
    color: black;
    padding: 20px;
    margin-top: 20px;
    position: fixed;
    text-align: right;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
}

.content {
    padding-top: 80px;
    padding-bottom: 80px; 
}

.error {
    color: red;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.error-message {
    color: black;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
}


.lab_menu{
    background-color: rgb(41, 105, 161);
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    justify-content: center;
}
.menu1{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.menu_name{
    align-self: center;
    padding-left: 170px;
    color: white;
    text-align: right;
    cursor: pointer;
    font-size: 14pt;
}
.base{
    font-size: 30pt;
}
.m{
    background-color: lightblue;
    padding: 15px 30px;
}
.lab_menu a{
    text-decoration: none;
    color: black;
}