{% extends "base.html" %}

{% block lab %}Лабораторная 2{% endblock %}

{% block main %}
<h1>Лабораторная 2</h1>
<ul>
    <li><a href="/lab2/a">Без слэша</a></li>
    <li><a href="/lab2/a/">Со слэшем</a></li>
    <li><a href="/lab2/flowers/0">Цветы</a></li>
    <li><a href="/lab2/add_flower/роза">Добавить цветок</a></li>
    <li><a href="/lab2/example">Пример</a></li>
    <li><a href="/lab2/filters">Фильтры</a></li>
    <li><a href="/lab2/calc/1/1">Калькулятор</a></li>
    <li><a href="/lab2/books">Список книг</a></li>
    <li><a href="/lab2/rolex">Список часов Rolex</a></li>
</ul>
{% endblock %}