{% extends "base.html" %}

{% block lab %}Лабораторная работа 7{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='lab7/main.js') }}"></script>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: lightblue;
        color: black;
        text-align: center;
    }


    button {
        padding: 5px 10px;
        margin-right: 5px;
        cursor: pointer;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 4px;
    }

    button:hover {
        background-color: #0056b3;
    }

    .modal {
        display: none;
        z-index: 100;
        box-shadow: 3px 3px 5px black;
        background: white;
        width: 600px;
        left: 50%;
        top: 100px;
        margin-left: -200px;
        position: absolute;
        padding: 20px;
    }

    .modal label {
        display: block;
        margin-bottom: 8px;
    }

    .modal input, .modal textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .modal button {
        padding: 10px 20px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .modal button:hover {
        background-color: #218838;
    }

    .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
    }
</style>
{% endblock %}

{% block main %}
    <h1>Список фильмов</h1>

    <table>
        <thead>
            <tr>
                <th>Русское название</th>
                <th>Оригинальное название</th>
                <th>Год</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="film-list"></tbody>
    </table>

    <script>
        fillFilmList();
    </script>

    <div>
        <button onclick="addFilm()">Добавить фильм</button>
    </div>

    <div class="modal">
        <input type="hidden" id="id">
        <label>
            Название фильма на русском:
            <input type="text" id="title-ru">
        </label><br>

        <label>
            Название фильма на оригинальном языке
            <i>(если фильм русский, то оставьте пустым):</i>
            <input type="text" id="title">
        </label><br>


        <label>
            Год выпуска:
            <input type="number" id="year">
        </label><br>

        <label>
            Описание:
            <textarea id="description"></textarea>
            <div id="description-error" class="error-message"></div>
        </label><br>

        <button onclick="sendFilm()">OK</button>
        <button onclick="cancel()">Отмена</button>
    </div>
{% endblock %}