{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Редактирование статьи</h1>
    {% if error %}
        <div style="color: red;">{{ error }}</div>
    {% endif %}
    <form method="POST">
        <label for="title">Заголовок статьи:</label><br>
        <input type="text" id="title" name="title" value="{{ article.title }}" required><br><br>

        <label for="content">Содержимое статьи:</label><br>
        <textarea id="content" name="content" rows="10" cols="50" required>{{ article.articles_text }}</textarea><br><br>

        <button type="submit">Сохранить изменения</button>
    </form>
    <a href="/lab8/articles">Назад к списку статей</a>
{% endblock %}