{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Вход</h1>
    {% if error %}
        <div style="color: red;">{{ error }}</div>
    {% endif %}
    <form method="POST">
        <label for="login">Логин:</label><br>
        <input type="text" id="login" name="login" required><br><br>

        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <label for="remember_me">Запомнить меня:</label>
        <input type="checkbox" id="remember_me" name="remember_me" value="True"><br><br>

        <button type="submit">Войти</button>
    </form>
{% endblock %}